.login-modal {
	max-width: 700px;
	border:1px solid #b38426;
	border-radius:5px;
	padding-top:60px;
	padding-bottom:60px;
}

.login-modal h5 {
	font-family:'Avenir Next';
	font-weight:normal;
	font-size:28px;
}


.login-modal p{
	font-family: 'Avenir Next';
	font-weight:normal;
	font-size:14px;
	margin-bottom:10px;
}

.member-title {
	margin-top:20px;
}

.login-container {
	max-width:580px;
	padding-top:40px;
	margin-left:auto;
	margin-right:auto;

}

.log-form {
	margin-bottom:20px;
}

.log-form[value] {
	font-family:'Avenir Next';
}

.modal-btn {
	background-color:#8a000e;
	border:0px;
}

.modal-btn:hover {
	background-color:#8a000e;
	border:0px;
	background-color:#b38426;

}

#privacy {
	margin-top:40px;
}
